* {
    box-sizing: border-box;
}

body {
    width: 1000px;
    height: 100%;
    margin: auto;
    font-family: 'Roboto Slab', serif;
}

h1 {
    color: #00539F;
}

.body-header {
    text-align: center;
    margin-bottom: 30px;
    background: green url(../images/orange.png);
    height: 200px;
    padding-top: 30px;
}

aside {
    float: left;
    height: inherit;
    width: 300px;
    border: 3px solid #ffa302;
    padding-right: 30px;
    padding-left: 5px;
}

main {
    width: 700px;
    float: right;
    height: inherit;
    border: 3px solid #ffa302
}

.main-content{
    height: 600px;
}

.body-footer {
    text-align: center;
    background: darkgrey url(../images/blue.jpg);
    height: 100px;
    padding-top: 20px;
}

.white{
    color: white;
}
article {
    padding-right: 10px;
    padding-left: 10px;
}

.article-header{
    text-align: center;
}

section {
    text-align: justify;
}

nav {
    margin-top: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    list-style-type: none;
    float: bottom;
}

.nav-item {
    flex: 1;
    text-align: center;
    border: 1px solid rgba(0,0,0,.12);
    padding: 10px;
}

aside>p {
    text-align: justify;
}

.red {
    color: red;
}